.input-group.md-form.form-sm.form-1 input {
  border: 1px solid #fffdfd;
  border-right: none;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

select {
    border: 1px solid #f30909;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}